h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
   
}
ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
        
}
.page-heder-conteiner {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
    
}
.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
}
.logo-part {
    color: #2e2f42;
    
}
.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
}

.menu {
    display: flex;
    gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.address {
    font-style: normal;  
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
       
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.main {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-container {
    padding-top: 188px;
    padding-right: 472px;
    padding-bottom: 188px;
    padding-left: 472px;
}
.main-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
       max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}
.buy-now-btn {
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.buy-now-btn:hover,
.buy-now-btn:focus {
        background: #404bbf;
        color: #fff;
}
.skills {
    padding-bottom: 120px;
    padding-top: 120px;
}
.skil {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.skills-lis {
    display: flex;
    flex-wrap: wrap;
    gap: 24;
}
.skills-lis-tex {
    flex-basis: calc((100% - 72px) / 4);
}
.skills-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.skills-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team-list {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
       margin-bottom: 72px;
}
.our-team-item {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.people {
    padding: 32px 0;
}
.team-item {
    background-color: #FFFFFF;
flex-basis: calc((100% - 72 пікселів) / 4);
border-radius: 0 0 4px 4px;
}


.our-team-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
} 
.our-team-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfol {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none ;
}
.our-portfolio-list {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
        
}
.our-portfolio {
    background-color: #F4F4FD;
    display: flex;
    flex-wrap: wrap;
        gap: 24px;
}
.our-portfolio-item {
    background-color: #FFFFFF;
    flex-basis: calc((100%-48px) / 3);
}


.our-portfolio-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.our-portfolio-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo-part {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.container-footer {
padding: 100px 0;
    padding-left: 156px;
    padding-right: 1020px;
    max-width: 264px;
    
}
.logo-footer {
    margin-bottom: 16px;
    display: inline-block;
}
.footer-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}