h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
   
}
ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.page-heder-conteiner {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
    
}
.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
}
.logo-part {
    color: #2e2f42;
    
}
.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2. 1);
}
.current{
position: relative;
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.menu {
    display: flex;
    gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.address {
    font-style: normal;  
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
       
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}



.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.main {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
       max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}
.buy-now-btn {
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-btn:hover,
.buy-now-btn:focus {
        background: #404bbf;
        color: #fff;
}
.skills {
    padding-bottom: 120px;
    padding-top: 120px;
}
.skil {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.skills-lis {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.skills-lis-tex {    
    flex-basis: calc((100% - 72px) / 4);
}
.div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(142, 143, 153);
    border-radius: 4px;
    background-color: #f4f4fd;
}
.skills-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.skills-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       
}

.our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team-list {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
       margin-bottom: 72px;
}


.our-team-item {
    
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.people {
    padding: 32px 0;
}
.team-item {
    background-color: #FFFFFF;
flex-basis: calc((100% - 72 пікселів) / 4);
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}


.our-team-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
} 
.our-team-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.social {
    fill: #f4f4fd;
}

.social-icon {
    display: flex;
    margin-top: 8px;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-icon {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.portf-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portf-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portf-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-list-item:hover .box-text-overlay {
    transform: translateY(0%);
}

.prtf-cntr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-top: 0;
    /* margin-bottom: 8px; */
}

.second-header-ourportf {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.img-overlay {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    background: #ffffff;
    width: 360px;
    height: 300px;
}

.box-text-overlay {
    position: absolute;
    top: 0;
    bottom: 120px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    letter-spacing: 0.02em;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}




.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo-part {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.logo-footer {
    margin-bottom: 16px;
    display: inline-block;
}
.footer-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
        }
  .container-footer {
    display: flex;
        align-items: baseline;
  }

 .ftr-two {
     align-items: baseline;
     margin-right: 80px;
 }
.ftr-one {
    margin-right: 120px;
}
 .ftr-two-text {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
     margin-bottom: 16px;
 }

 .footer-two-list {
     display: flex;
     gap: 16px;
     align-items: center;
     justify-content: center;
 }

 .footer-two-item {
     width: 40px;
     height: 40px;
 }

 .footer-two-link {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: #4d5ae5;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-icon {
     fill: #f4f4fd;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-two-link:hover,
 .footer-two-link:focus {
     background-color: #31d0aa;
 }
 .ftr-third {
     display: flex;
     flex-direction: column;
 }

 .ftr-form {
     display: flex;
     gap: 24px;
 }
 .form-input {
     width: 264px;
     height: 40px;
     padding-left: 16px;
     border: 1px solid #fff;
     border-radius: 4px;
     background-color: transparent;
     color: #ffffff;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
 }
 .icon-footer-third {
     margin-left: 16px;
     fill: #ffffff;
 }

 .ftr-form-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 165px;
     height: 40px;
     border: none;
     border-radius: 4px;
     background-color: #4d5ae5;
     color: #fff;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     font-weight: 500;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.5;
     letter-spacing: 0.04em;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .ftr-form-btn:hover,
 .ftr-form-btn:focus {
     background-color: #404bbf;
 }

 .backdrop {
     position: fixed;
     top: 0;
     right: 0;
     z-index: 9999999;
     width: 100%;
     height: 100%;
     background-color: rgba(46, 47, 66, 0.4);
     opacity: 0;
     visibility: hidden;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
     opacity: 1;
     visibility: visible;
 }

 .modal-window {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 408px;
     min-height: 584px;
     padding-top: 72px;
     padding-right: 24px;
     padding-bottom: 24px;
     padding-left: 24px;
     border-radius: 4px;
     background-color: #fcfcfc;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
         0 2px 1px 0 rgba(0, 0, 0, 0.2);
     visibility: visible;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translate(-50%, -50%);
 }

 .modal-icon-close-btn {
     justify-content: center;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-close-btn {
     position: absolute;
     top: 24px;
     right: 24px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 24px;
     height: 24px;
     margin: 0 0 24px 0;
     padding: 0;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
     background-color: #e7e9fc;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-close-btn:active,
 .modal-close-btn:hover,
 .modal-close-btn:focus {
     border: none;
     background-color: #404bbf;
     fill: #ffffff;
 }

 .modal-window-text {
     margin-bottom: 16px;
     color: #2e2f42;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
 }

 .review-form-wrapper {
     margin-bottom: 8px;
 }

 .review-form-wrapper-comment {
     margin-bottom: 16px;
 }

 .review-form-input {
     width: 100%;
     height: 40px;
     padding-left: 38px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     background-color: transparent;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-input:focus {
     border: 1px solid #4d5ae5;
     outline: transparent;
 }

 .review-form-input:focus+.review-form-icon {
     fill: #4d5ae5;
 }

 .review-form-name-label {
     display: block;
     margin-bottom: 4px;
     color: #8e8f99;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
 }

 .review-form-input-wrapper {
     position: relative;
 }

 .review-form-icon {
     position: absolute;
     top: 50%;
     left: 16px;
     fill: #2e2f42;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translateY(-50%);
 }

 .review-form-taxtarea {
     width: 100%;
     height: 120px;
     padding: 8px 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     background-color: transparent;
     color: rgba(46, 47, 66, 0.4);
     outline: transparent;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     resize: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-taxtarea::placeholder {
     color: rgba(46, 47, 66, 0.4);
 }

 .review-form-taxtarea:focus {
     border-color: #4d5ae5;
     outline: transparent;
 }

 .review-form-chackbox-wrapper {
     margin-bottom: 24px;
 }

 .review-form-chackbox-label {
     color: #8e8f99;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
 }

 .review-form-chackbox-label-link {
     color: #4d5ae5;
     line-height: 1.33;
     text-decoration: underline;
     text-decoration-skip-ink: none;
 }

 .review-form-own-chackbox {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 16px;
     height: 16px;
     margin-right: 8px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     cursor: pointer;
     fill: transparent;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1),
         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-privacy-chackbox:checked+.review-form-chackbox-label .review-form-own-chackbox {
     border: none;
     background-color: #404bbf;
     fill: #f4f4fd;
 }

 .review-form-privacy-chackbox:focus+.review-form-chackbox-label .review-form-own-chackbox {
     outline: 2px solid rgba(0, 0, 225, 0.1);
 }
 .submit-btn {
     display: block;
     flex-direction: row;
     min-width: 169px;
     height: 56px;
     margin: 0 auto;
     padding: 16px 32px;
     border: none;
     border-radius: 4px;
     background-color: #4d5ae5;
     color: #fff;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     font-weight: 500;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.5;
     letter-spacing: 0.04em;
     text-align: center;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .submit-btn:hover,
 .submit-btn:focus {
     background-color: #404bbf;
 }